# virtual environment
venv/

.idea

# Django #
MidtermProject/MidtermApp/__pycache__
MidtermProject/MidtermApp/migrations
MidtermProject/db.sqlite3
MidtermProject/MitdtermProject/__pycache__

.ipynb_checkpoints
