<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Negative Balance Error</title>
    <style>
        div {
            margin-top: 10%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
<body>
    <div>
        <h2 style="color: red; font-weight:bold;">ERROR: Negative Balance</h2>
        <h4><a href="{%url 'transaction' fk %}">Back to the transaction</a></h4>
    </div>
</body>
</html>
